#block-navegacionprincipal{
    padding: 24px 0;
    ul li a{
        text-transform: uppercase;
    }
}

#block-navegacionprincipal-2{
    .block-title{
        font-size: 1.5rem;
    }
    ul{
        li{
            width: 100%;
        }
    }

}