.nopadding{
    padding: 0!important;
}

.button{
    a{
        color:#fff;
    }
} 

.meta-header-wrapper{
    background: #464a55;
    li{
        a{
            padding-left: 0px;
            color: #fff;
        }
    }
}

.full-region{
    min-width: 100%;
}

.orbit-container{
    height: auto!important;
    img{
        min-width: 100%;
    }
}



h2{
    text-align: center
}



#sub-content-third{
    background: #ededef;
    padding: 40px 0px;
}
#sub-content-quarter{
    padding: 40px 0px;
}
#main{
    padding: 40px 0px;
}


.bottom-bar{
    background-color: #464a55!important;
    color:#fff;
    margin:0!important;
}
